---
const { title, subtitle, location, date_start, date_end, gpa, alt } = Astro.props;

---

<div class="container-section">
    <div class="left-column">
        <h3>{title}</h3>
        {alt ? <h3 style="color: var(--yellow); margin-left: 40px;">{subtitle}</h3> : <h3 style="color: var(--red); margin-left: 40px;">{subtitle}</h3>}
    </div>

    <div class="right-column">
        <div class="location">
            <svg width="20" height="20" ><use href="#marker" /></svg>
            <h3 style="color: var(--primary-color); fill: var(--primary-color);">{location}</h3>
        </div>

        {alt ? <h3 style="color: var(--primary-color);">GPA: {gpa}</h3> : <h3 style="color: var(--primary-color);">{date_start} - {date_end}</h3>}
    </div>
</div>

<!-- ------ Local style ------ -->

<style>
    .container-section {
        display: flex;
        flex-direction: column;
        gap: 5px;

        margin-left: 10px;
        margin-top: 1rem;
        max-width: 700px;
        height: 60px;
        width: 100%;
    }

    .left-column {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .right-column {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 20%;
    }

    .location {
        fill: var(--primary-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .location h3 {
        margin: 0;

    }

    .left-column > * {
        margin: 0;
    }

    .right-column > * {
        margin: 0;
    }

    @media screen and (min-width: 636px) {
        .container-section {
            flex-direction: row;
            justify-content: space-between;
        }

        .right-column {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 0;
        }

    }
</style>

<svg width="0" height="0" style="display:block">
    <symbol id="marker" viewBox="0 0 24 24">
		<path d="M12,0A10.011,10.011,0,0,0,2,10c0,5.282,8.4,12.533,9.354,13.343l.646.546.646-.546C13.6,22.533,22,15.282,22,10A10.011,10.011,0,0,0,12,0Zm0,15a5,5,0,1,1,5-5A5.006,5.006,0,0,1,12,15Z"/><circle cx="12" cy="10" r="3"/>
	</symbol>
</svg>
